.formularioRegistroTurno{
    padding-left: 37%;
    padding-right: 10%;
    padding-top: 0.5%;
    align-content: center;
}

.listadoTurnos{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}